.navbar-light .navbar-brand {
    color: white;
}

.navbar-brand {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: .3125rem;
    margin-right: 30px;
    margin-left: 150px;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: inherit;
    white-space: nowrap;
    background: teal;
    padding:20px;
    letter-spacing: 1px;
}

a:hover {
    color: orange;
}

a:link {
    text-decoration: none;
}

.link {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    padding: 20px;
    letter-spacing: 1px;
    float: right;
    margin-right: 70px;
}

.container {
    background: white;
}

.main {
    background-color: white;
    box-sizing: border-box;
    color:grey;
    margin-left: 150px;
    margin-right: 50px;
    margin-top: 30px;
}
    
   

body {
    background: lightgrey;
}

h1 {
    color: teal;
    margin-left: 5px;
    padding-left: 15px;
    padding-top: 20px;

}

.line {
    border-bottom: grey solid 2px;
    width: 95%;
    margin-left: 20px;
    padding-top: 9px;
}

.form {
    padding-left: 20px;
    padding-top: 30px;
    margin-bottom: 150px;
    font-size: 20px;
    margin-right: 600px;
}
    
input {
    width: 185%;
    padding: 5px 20px;
    margin: 8px 0;
    padding-bottom: 10px;
}

.btn {
    background-color: teal;
    border: teal;
    
}